*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./images/802645.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100vh; */
}
.searchBox{
    margin-top: 50px;
    position: absolute;
    left: 200px;
    background-color: rgba(0, 0, 0,0.9);
    border-radius: 50px 0px 50px 0px;
    width: 480px;
}
.card-title{
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
.list-group-item{
    background-color: rgb(0, 0, 0,0.1);
    color: white;
}
/* .search_btn{
    position: absolute;
    left: 370px;
    top: 73px;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
} */
.search_btn{
    position: absolute;
    left: 360px;
    top: 95px;
    height: 45px;
    width: 90px;
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
}
#c_Name{
    height: 40px;
    width: 300px;
    border-radius: 0 10px 0 10px;
}
h4{
    color: orange;
}